<mat-card>
<mat-horizontal-stepper linear #stepper>
    <mat-step label="Pagar" [editable]="false">
      <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
        <input type="text" formControlName="name" placeholder="Nombre y apellido">
        <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
        ></ngx-stripe-card>
        <button type="submit" mat-button matStepperNext color="primary">
          Siguiente
        </button>
      </form>      
    </mat-step>
    <mat-step label="Resumen" [editable]="false">
        <div>
            <h1>Datos de pago</h1>
            <h3>Nombre: {{booked.name}} </h3>
            <h3>Precio: {{booked.price}} </h3>
            <h3>Código de reserva: {{booked.locator}} </h3>
        </div>
      <button mat-button (click)="cancel()" matStepperNext color="secundary">Cancelar</button>
      <button mat-button (click)="confirm()" matStepperNext color="primary">Confirmar</button>
    </mat-step>
    <mat-step label="Resultado" [editable]="false">
        <h1>{{successMessage}}</h1>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>