<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let clinic of clinics">
<mat-card class="card-theme">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image class="imageCard" src="{{clinic.image}}" alt="Clinica">
    <mat-card-content>
      <mat-card-title>{{clinic.name}}</mat-card-title>
      <mat-card-subtitle>{{clinic.address}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['booking', clinic.id]" class="btn btn-info">REGISTRAR RESERVA</button>
    </mat-card-actions>
  </mat-card>
</div>

</div>
</div>